*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

/*header*/



/*estilos para el contenedor*/

.contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
}

aside{
    width: 15%;
    min-width: fit-content;
    
    min-height: 100vh;

}
.container{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
}



/*formulario*/
.formulario{
    margin-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
    
}
.inputs{
    display: flex;
    width: 100%;
    align-self: center;
}
label{
    margin-top: 25px;
    font-size: 20px;
}
    
.input{
    font-family: Arial;
    font-size: 10pt;
    border-radius: 7px;
    border: 1px solid #212121;
    padding: 5px;
    text-decoration: none;
    transition: all 500ms ease;
}

.input:focus{
    outline: none;
    border-color: grey;
}

.btn_formulario{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.btn{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: all 500ms ease;
     
}
 
.btn:hover{
    background-color: grey;
    transform: scale(1.1);
     
}


