*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}

.contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.aside{
    width: 15%;
    min-width: fit-content;
    
    min-height: 100vh;

}

.container{
    display: flex;
    width: 85%;
    margin: 5% ;
    gap: 20px;
    justify-content: center;
}

.tarjeta{
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: all 500ms ease;
}


.tarjeta:hover{
    transform: scale(1.01);
}
.imagen{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.cont{
    padding: 20px;

}
.cont h2{
    font-size: 14px;
    color: black;

}

a{
    text-decoration: none;
}