*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.aside{
    width: 15%;
    min-width: fit-content;
    
    min-height: 100vh;

}

.boton{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: all 500ms ease;
    
}

.boton:hover{
    background-color: grey;
    color: white;
    
}

.tabla{
    display: flex;
    margin: 5%;
    height: 30px;
    width: 85%;
    flex-direction: column;

}
table{
    width: 100%;
    margin-top: 0;
    height: auto;
    border-collapse: collapse;
    border: 1px solid black;
    
    border-radius: 10px;
    
}

thead{
    background-color: whitesmoke;
    
}


th{
    padding: 10px;
    border: 1px solid black;
}
td{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: grey;
    outline: none;
}